@{
	ViewBag.Title = "Map Viewer";
	Layout = "~/Views/Shared/_3dScene.cshtml";
}


@*<div id="lightDebugger" style="position: fixed; top: 155px; left: 25px; background-color:#ff5959; color:white; font-weight:bold; padding:10px;"></div>
	<div id="camPos" style="position: fixed; top: 57px; right: 30px; background-color:#ff5959; color:white; font-weight:bold; padding:10px;"></div>*@
<div id="loading">
	<h1>Loading....</h1>
</div>

<script>



</script>

@section sceneLoaded {
	GetMaps();
}
